<?php

function getDatabaseCredentials(): stdClass
{
    $databaseCredentials = new stdClass();
    $databaseCredentials->host = '';
    $databaseCredentials->database = '';
    $databaseCredentials->user = '';
    $databaseCredentials->password = '';

    return $databaseCredentials;
}