*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        font-family: Corbel Light, serif;
        font-size: x-small;
        min-height: 100vh;
        color: #1c1919;
        background-color: #fffdfd;
    }
    header {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5ab4cd;
        border-radius: 5px;
        margin-left: 0.5vh;
        margin-right: 0.5vh;
        margin-top: 2.5vh;
        margin-bottom: 10vh;
    }
        h1{
            margin-left: 10vw;
            font-size: xx-large;
        }

            .search-container {
                float: right;
                padding-bottom: 0.3em;
            }

             input[type=text] {
                 padding-left: 0.5em;
                 padding-top: 0.5em;
                 padding-bottom: 0.5em;
                 margin-top: 2vh;
                 margin-bottom: 2vh;
                 font-size: 1.6vh;
                 border: 1px solid black;
                 border-radius: 3px 0 0 3px;
            }

            .search-container button {
                padding: 0.5em;
                float: right;
                margin-right: 2vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
                background: #ddd;
                font-size: 1.6vh;
                border: none;
                border-radius: 0 3px 3px 0;
                cursor: pointer;
            }

           .search-container button:hover {
                background: #ccc;
            }
        @media screen and (max-width: 900px) {
           .search-container {
                float: none;
            }
             input[type=text], .search-container button {
                float: none;
                text-align: left;
                margin: 0.4em auto;
            }
            input[type=text] {
                border: 1px solid #000000;
            }
        }

.table {
        width: 80%;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        text-align: center;
        align-items: center;
        border-collapse:collapse;

    }
    .table th,td{
        width: 25%;
        border: 2px solid #353434;
        font-size: 1.1em;
    }
    .table th{
        font-family: Helvetica,sans-serif;
        padding: 0.1em 0.1em;
        font-size: 1.1em;
        font-weight: inherit;
        background-color: #87baca;
        table-layout: fixed;

    }
    .table td {
        padding: 0.3em 0.3em;
        border-radius: 4px;
        display: flex;

    }

    .addRowTo {
         width:40%;
         margin: 3vh auto;
         display: flex;
         justify-content: center;
         text-align: center;
         position: relative;
         min-width: 8em;
         height: 4em;
         color: #000000;
         cursor: pointer;
         outline: 2px solid #a8dbea;
         border-radius: 3px;
         padding: 0.5em 0.5em;
         transition: 0.3s;
         font-size:0.5em;
        }
        .addRowTo:hover{
            min-width: 9em;
            font-size: 0.7em;
            color: #87baca;
            align-items: center;
        }


    .form {
        border: 3px solid #87baca;
        border-radius: 4px;
        padding: 1em;
        background-color: #fff;
        width: 19em;
        text-align: center;
        font-size: medium;
        margin: 1em auto;
    }
    .selected {
        background-color: #5ab4cd;
        text-align: center;
        transition: 0.4ms;

    }



    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-ok {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #a8dbea;
        border: 1px solid #000;
        border-radius: 2px;
        color: #1c1919;
        cursor: pointer;
        margin: 1em auto;
        padding: 1em;
    }
    .button-ok:hover{
    font-size: medium;

    }
    .button_del {
        justify-content: center;
        position: absolute;
        bottom:4em;
        left:35%;
        right:35%;
        flex-direction: column;
        align-items: center;
        background-color: #8a0505;
        border: 2px solid #000;
        border-radius: 5px;
        color: #1c1919;
        cursor: pointer;
        margin: 1em auto;
        padding: 1em;
        font-weight: bold;
        font-size: medium;
        font-family: Corbel Light serif;
        transition: 0.6ms;
    }
    .button_del:hover{
        font-size: large;

    }
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #5ab4cd;
    color: #ffffff;
    text-align: center;
    padding: 2vh;
    margin-top: 15vh;
    border-radius: 5px;
}
