<body>
    <div id="app">
        <header class="flex flex-row min-h-20 px-3 mb-2 text-white justify-between items-center bg-[#5ab4cd]">
            <h1>SAMORIN SHOW JUMPS</h1>
            <div class="flex flex-row justify-center items-center space-x-2">
                <a href="/auth/login-page" class="mx-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>
        <header class="flex flex-row px-3 mb-2 text-white justify-between items-center bg-[#5ab4cd]">
            <h1 class=" ml-4 text-2xl">SAMORIN SHOW JUMPS</h1>
            <div class="header-content flex flex-row justify-center items-center">
                <a href="/auth/login-page" >
                    <img id="user_img" src="/img/Sample_User_Icon.png" alt="user_img">
                </a>
                <p class="mr-2">HU</p>
                <input  type="checkbox"
                        v-model="languageSelector.selectedLanguageEn"
                        @change="changeLanguage"
                        checked="checked"
                        class="toggle border-[#06b6d4] bg-[#06b6d4] [--tglbg:white] hover:bg:[#06b6d4]"/>
                <p class="ml-2">EN</p>
            </div>
        </header>
        <div class="flex flex-col mx-auto mt-24 justify-center items-center">
            <h2>ARENAS:</h2>
            <button class="butt"  onclick="location.href='/main'">MAIN</button> <br>
            <button class="butt"  onclick="location.href='/respect'">RESPECT</button> <br>
            <button class="butt"  onclick="location.href='/farriers'">FARRIERS</button> <br>
            <h2>STOCK:</h2>
            <button class="butt"  onclick="location.href='/storage'">STORAGE</button> <br>
        </div>
        <footer>
            <p>ShowJumpEditor</p>
        </footer>
    </div>
</body>
<script src="../../js/home.js"></script>
</html>
