<body>
    <div id="app">
        <header class="flex flex-row px-3 mb-2 text-white justify-between items-center bg-[#5ab4cd]">
            <h1>SAMORIN SHOW JUMPS</h1>
            <div class="header-content flex flex-row justify-center items-center">
                <a href="/auth/login-page" >
                    <img id="user_img" src="/img/Sample_User_Icon.png" alt="user_img">
                </a>
                <p>HU</p>
                <input  type="checkbox"
                        v-model="languageSelector.selectedLanguageEn"
                        @change="changeLanguage"
                        checked="checked"
                        class="toggle border-blue-500 bg-blue-500 [--tglbg:white] hover:bg-blue-700"/>
                <p>EN</p>
            </div>
        </header>
        <div class="flex flex-col mx-auto mt-24 justify-center items-center">
            <h2>ARENAS:</h2>
            <button class="butt" id="main-butt" onclick="location.href='/main'">MAIN</button> <br>
            <button class="butt" id="respect-butt" onclick="location.href='/respect'">RESPECT</button> <br>
            <button class="butt" id="farriers-butt" onclick="location.href='/farriers'">FARRIERS</button> <br>
            <h2>STOCK:</h2>
            <button class="butt" id="storage-butt" onclick="location.href='/storage'">STORAGE</button> <br>
        </div>
        <footer>
            <p>ShowJumpEditor</p>
        </footer>
    </div>
</body>
<script src="../../js/home.js"></script>
</html>
