<body>
<div id="app" class="bg-white">
    <header class="flex flex-col lg:flex-row min-h-20 px-3 py-2 lg:py-0 space-y-2 lg:space-y-0 text-white justify-between items-center bg-[#5ab4cd]">
        <h1 class="lg:ml-4 text-3xl">MAIN ARENA</h1>
        <div v-if="false"  class="float-right py-0.5">
            <form class="search" action="">
                <input class="bg-white rounded-xl text-black"
                       type="text"
                       placeholder="Search.."
                       name="search">
                <button class="mx-2 my-2"
                        type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>
    <nav aria-label="breadcrumb" class="w-full p-4 dark:bg-gray-100 dark:text-gray-800">
        <ol class="flex h-8 space-x-2">
            <li class="flex items-center">
                <a rel="noopener noreferrer" href="/" title="Back to homepage" class="hover:underline">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 pr-1 dark:text-gray-600">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                    </svg>
                </a>
            </li>
            <li class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" fill="currentColor" class="w-2 h-2 mt-1 transform rotate-90 fill-current dark:text-gray-400">
                    <path d="M32 30.031h-32l16-28.061z"></path>
                </svg>
                <a rel="noopener noreferrer" href="/main" class="flex items-center px-1 capitalize hover:underline">Main</a>
            </li>
        </ol>
    </nav>
    <div class="container mx-auto mt-8 lg:mt-24 pb-8 lg:pb-4 space-y-8">
        <div class="container p-2 mx-auto sm:p-4 dark:text-black">
            <h2 class="mb-4 text-2xl font-semibold leading-tight">Wings</h2>
            <div class="overflow-x-auto">
                <table id="wings-table" class="min-w-full text-base">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="bg-[#87baca] border-b border-black">
                    <tr class="text-center font-bold">
                        <th class="p-3">Name</th>
                        <th class="p-3">Number of items</th>
                        <th class="p-3">Picture</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="wing in this.$data.wingsOnField"
                        @click="selectRow($event)"
                        :value="wing.id"
                        class="text-center border-b border-black">
                        <td v-if="cookie == 'hu'" class="p-3">
                            <p>{{ wing.name_hu }}</p>
                        </td>
                        <td v-else class="p-3">
                            <p>{{ wing.name_en }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.db }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.kep }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container p-2 mx-auto sm:p-4 dark:text-black">
            <h2 class="mb-4 text-2xl font-semibold leading-tight">Poles</h2>
            <div class="overflow-x-auto">
                <table id="poles-table" class="min-w-full text-base">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="bg-[#87baca] border-b border-black">
                    <tr class="text-center font-bold">
                        <th class="p-3">Name</th>
                        <th class="p-3">Number of items</th>
                        <th class="p-3">Length</th>
                        <th class="p-3">Picture</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="pole in this.$data.polesOnField"
                        @click="selectRow($event)"
                        :value="pole.id"
                        class="text-center border-b border-black">
                        <td v-if="cookie == 'hu'" class="p-3">
                            <p>{{ pole.name_hu }}</p>
                        </td>
                        <td v-else class="p-3">
                            <p>{{ pole.name_en }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.db }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.hossz }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.kep }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex flex-row justify-center">
            <select class="flex w-2/5 min-w-1 mx-1 my-auto p-0.5 justify-center text-base text-center text-black duration-300 cursor-pointer outline outline-2 outline-bg-[#a8dbea] bg-white rounded hover:text=[#87baca] hover:min-w-2 hover:text-lg hover:items-center"
                    v-model="selectedOption"
                    @change="toggleForm">
                <option disabled value="">SELECT TO ADD</option>
                <option value="wing">WINGS</option>
                <option value="role">POLES</option>
            </select>
        </div>
        <div id="formContainer"
             v-show="this.$data.form.show"
             class="flex flex-col w-full lg:w-2/5 lg:mx-auto py-4 lg:py-4 justify-center bg-white rounded-xl border border-2 border-bg-[#87baca]">
            <div v-show="this.$data.form.wingForm.show"
                 class="flex flex-col w-full px-0.5 py-4 mx-auto my-auto space-y-4 text-center text-base">
                <label class="text-center text-lg font-bold">Name:</label>
                <select v-model="addToField.wing.type"
                        class="flex w-5/6 lg:w-3/5 mx-auto p-3 bg-white text-center justify-center border border-2 border-bg-black rounded-xl">
                    <option disabled value="">SELECT WING</option>
                    <option v-for="wing in this.$data.availableWings"
                            :value="wing.id"
                            @click="setWingMaxPieces(wing.db)">
                        {{ cookie == 'hu' ? wing.name_hu : wing.name_en }} - max {{ wing.db }} pieces
                    </option>
                </select>
                <label class="text-center text-lg font-bold">Number (minimum  {{ addToField.wing.min }}):</label>
                <input class="flex w-5/6 lg:w-3/5 mx-auto p-3 bg-white text-center justify-center border border-2 border-bg-black rounded-xl"
                       type="number"
                       v-model="addToField.wing.counter"
                       @change="checkWingMaxPieces"
                       :min="addToField.wing.min"
                       :max="addToField.wing.max">
            </div>
            <div v-show="this.$data.form.poleForm.show"
                 class="flex flex-col w-full px-0.5 py-4 mx-auto my-auto space-y-4 text-center text-base">
                <label class="text-center text-lg font-bold">Name:</label><br>
                <select v-model="addToField.pole.type"
                        class="flex w-5/6 lg:w-3/5 mx-auto p-3 bg-white text-center justify-center text-wrap border border-2 border-bg-black rounded-xl">
                    <option disabled selected value="">SELECT POLE</option>
                    <option v-for="pole in this.$data.availablePoles"
                            :value="pole.id"
                            @click="setPoleMaxPieces(pole.db)">
                        {{ cookie == 'hu' ? pole.name_hu : pole.name_en }} - {{ pole.hossz }} meter /  max {{ pole.db }} pieces
                    </option>
                </select>
                <label class="text-center text-lg font-bold">Number (minimum {{ addToField.pole.min }}):</label>
                <input class="flex w-5/6 lg:w-3/5 mx-auto p-3 bg-white text-center justify-center border border-2 border-bg-black rounded-xl"
                       type="number"
                       v-model="addToField.pole.counter"
                       @change="checkPoleMaxPieces"
                       :min="addToField.pole.min"
                       :max="addToField.pole.max">
            </div>
            <button @click="moveToWarehouse" class="flex w-5/6 lg:w-2/5 mx-auto px-4 py-6 justify-center bg-[#a8dbea] text-black font-bold cursor-pointer border text-[#1c1919] rounded-lg">ADD</button>
        </div>
        <div class="flex flex-row justify-center">
            <a class="flex w-5/6 lg:w-2/5 lg:mx-auto px-4 py-6 justify-center bg-[#8a0505] text-2xl text-[#1c1919] rounded-lg cursor-pointer font-bold duration-600 hover:text-2xl"
               @click="deleteSelectedRows">DELETE</a>
        </div>
    </div>
</div>
<script src="../../js/main.js"></script>
</body>
</html>