<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Arena</title>
    <link rel="stylesheet" href="../../css/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<header>
    <h1>MAIN ARENA</h1>

</header>

<body>
<div id="app">
    <div class="table-container">
        <table class="table wings-table">
            <thead>
            <tr>
                <th colspan="4" style="font-weight: bold">WINGS</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
                <th>Picture</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="wings in this.$data.wings" @click="selectRow($event)">
                    <td>{{ wings.neve }}</td>
                    <td>{{ wings.db }}</td>
                    <td>{{ wings.kep }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container">
        <table class="table poles-table">
            <thead>
            <tr>
                <th colspan="5" style="font-weight: bold">POLES</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
                <th>Length</th>
                <th>Picture</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="pole in this.$data.poles" @click="selectRow($event)">
                    <td v-if="this.$data.cookie == 'hu'">{{ wings.name_hu }}</td>
                    <td v-else>{{ wings.name_en }}</td>
                    <td>{{ pole.db }}</td>
                    <td>{{ pole.hossz }}</td>
                    <td>{{ pole.kep }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
            <select class="addRowTo" v-model="selectedOption" @change="toggleForm">
                <option disabled value="">SELECT TO ADD</option>
                <option value="kitoro">WINGS</option>
                <option value="rudak">POLES</option>
            </select>
    </div>
    <div id="formContainer" v-show="showForm">
        <form @submit.prevent="addRow" method="POST">
            <label style="text-align: center; font-size: larger; font-weight: bold" for="name">Name:</label> <br>
            <input type="text" style="text-align: center; font-size: larger" id="name" v-model="newRow.name"> <br>
            <label style="text-align: center; font-size: larger; font-weight: bold" for="darabszam">Number:</label> <br>
            <input type="number" name="db" style="text-align: center ; font-size: larger;" id="darabszam" v-model="newRow.number" min="1"> <br>
            <div v-if="selectedOption === 'rudak'">
                <label style="text-align: center; font-size: larger; font-weight: bold" for="length">Length:</label> <br>
                <select id="length" name="hossz" style="text-align: center; font-size: large" v-model="newRow.length" @change="">
                    <option value="3.5">3,5 meter</option>
                    <option value="3">3 meter</option>
                    <option value="2.5">2,5 meter</option>
                    <option value="2">2 meter</option>
                </select> <br>
            </div>
            <button class="button-ok" type="submit">OK</button>
        </form>
    </div>
    <div>
        <button class="button_del" @click="deleteSelectedRow">DELETE</button>
    </div>
</div>
<script src="/js/main.js"></script>
<footer>
    <p>ShowJumpEditor</p>
</footer>
</body>

</html>