<body>
<div id="app" class="bg-white">
    <header class="flex flex-col lg:flex-row min-h-20 px-3 py-2 lg:py-0 space-y-2 lg:space-y-0 text-white justify-between items-center bg-[#5ab4cd]">
        <h1 class="lg:ml-4 text-3xl">STORAGE</h1>
        <div v-if="false"  class="float-right py-0.5">
            <div class="flex flex-row float-right px-4 items-center space-x-1 ">
                <form class="search" action="">
                    <input class="bg-white mt-1 rounded-xl text-black" type="text" placeholder="Search.." name="search">
                    <button class="mx-2 my-2" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

    </header>
    <nav aria-label="breadcrumb" class="w-full p-4 dark:bg-gray-100 dark:text-gray-800">
        <ol class="flex h-8 space-x-2">
            <li class="flex items-center">
                <a rel="noopener noreferrer" href="/" title="Back to homepage" class="hover:underline">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-7 h-7 pr-1 dark:text-gray-600">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                    </svg>
                </a>
            </li>
            <li class="flex items-center space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" fill="currentColor" class="w-2 h-2 mt-1 transform rotate-90 fill-current dark:text-gray-400">
                    <path d="M32 30.031h-32l16-28.061z"></path>
                </svg>
                <a rel="noopener noreferrer" href="/storage" class="flex items-center px-1 capitalize hover:underline">Storage</a>
            </li>
        </ol>
    </nav>
    <div class="container mx-auto mt-8 lg:mt-24 pb-8 lg:pb-4 space-y-8">
        <div class="container p-2 mx-auto sm:p-4 dark:text-black">
            <h2 class="mb-4 text-2xl font-semibold leading-tight">Wings</h2>
            <div class="overflow-x-auto">
                <table id="wings-table" class="min-w-full text-base">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="bg-[#87baca]">
                    <tr class="text-center font-bold">
                        <th class="p-3">Name</th>
                        <th class="p-3">Number of items</th>
                        <th class="p-3">Where</th>
                        <th class="p-3">Picture</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="wing in this.$data.wings" class="text-center border-b border-black dark:bg-gray-50">
                        <td v-if="cookie == 'hu'" class="p-3">
                            <p>{{ wing.name_hu }}</p>
                        </td>
                        <td v-else class="p-3">
                            <p>{{ wing.name_en }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.db }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.palya }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.kep }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container p-2 mx-auto sm:p-4 dark:text-black">
            <h2 class="mb-4 text-2xl font-semibold leading-tight">Poles</h2>
            <div class="overflow-x-auto">
                <table id="poles-table" class="min-w-full text-base">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="bg-[#87baca]">
                    <tr class="text-center font-bold">
                        <th class="p-3">Name</th>
                        <th class="p-3">Number of items</th>
                        <th class="p-3">Length</th>
                        <th class="p-3">Where</th>
                        <th class="p-3">Picture</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="pole in this.$data.poles" class="text-center border-b border-black dark:bg-gray-50">
                        <td v-if="cookie == 'hu'" class="p-3">
                            <p>{{ pole.name_hu }}</p>
                        </td>
                        <td v-else class="p-3">
                            <p>{{ pole.name_en }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.db }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.hossz }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.palya }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.kep }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-if="false" class="join grid grid-cols-2 w-2/5 items-center">
            <button class="join-item btn btn-outline">Previous page</button>
            <button class="join-item btn btn-outline">Next</button>
        </div>
    </div>
</div>
<footer>
        <a rel="noopener noreferrer" href="/wallfill" title="Walls and Fillers" class="hover:underline">
           <button class="btn">Stone walls & Fillers</button> </a>
    </div>
</footer>
</body>
<script src="../../js/raktar.js"></script>
</html>