<body>
<div id="app">
    <header class="flex flex-row px-6 text-white justify-between items-center bg-[#5ab4cd]">
        <h1 class=" ml-4 text-3xl">STORAGE</h1>
        <div class="float-right py-0.5 flex flex-row">
            <div class="flex flex-row float-right px-4 items-center space-x-1 ">
                <a href='/admin'>
                    <img class="img" src="/img/free-plus-icon-3107-thumb.png" alt="new-img">
                </a>
                <a href='/' class="ml-17">
                    <img class="img" src="/img/avfe23a6b11d1ff4752fd.png" alt="home_img">
                </a>
                <form class="search" action="">
                    <input class="bg-white mt-1 rounded-xl text-black" type="text" placeholder="Search.." name="search">
                    <button class="mx-2 my-2" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>
    <div class="container mx-auto mt-24 space-y-8">
        <div class="container p-2 mx-auto sm:p-4 dark:text-black">
            <h2 class="mb-4 text-2xl font-semibold leading-tight">Wings</h2>
            <div class="overflow-x-auto">
                <table id="wings-table" class="min-w-full text-base">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="bg-[#87baca]">
                    <tr class="text-center font-bold">
                        <th class="p-3">Name</th>
                        <th class="p-3">Number of items</th>
                        <th class="p-3">Where</th>
                        <th class="p-3">Picture</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="wing in this.$data.wings" class="text-center border-b border-black dark:bg-gray-50">
                        <td v-if="cookie == 'hu'" class="p-3">
                            <p>{{ wing.name_hu }}</p>
                        </td>
                        <td v-else class="p-3">
                            <p>{{ wing.name_en }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.db }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.palya }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ wing.kep }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container p-2 mx-auto sm:p-4 dark:text-black">
            <h2 class="mb-4 text-2xl font-semibold leading-tight">Poles</h2>
            <div class="overflow-x-auto">
                <table id="poles-table" class="min-w-full text-base">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead class="bg-[#87baca]">
                    <tr class="text-center font-bold">
                        <th class="p-3">Name</th>
                        <th class="p-3">Number of items</th>
                        <th class="p-3">Length</th>
                        <th class="p-3">Where</th>
                        <th class="p-3">Picture</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="pole in this.$data.poles" class="text-center border-b border-black dark:bg-gray-50">
                        <td v-if="cookie == 'hu'" class="p-3">
                            <p>{{ pole.name_hu }}</p>
                        </td>
                        <td v-else class="p-3">
                            <p>{{ pole.name_en }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.db }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.hossz }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.palya }}</p>
                        </td>
                        <td class="p-3">
                            <p>{{ pole.kep }}</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="join grid grid-cols-2 w-2/5 items-center">
            <button class="join-item btn btn-outline">Previous page</button>
            <button class="join-item btn btn-outline">Next</button>
        </div>
    </div>
</body>
<script src="../../js/raktar.js"></script>
<script src="../../js/str.js"></script>
</html>