<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Storage</title>
    <link rel="stylesheet" href="../../css/storage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<header>
    <h1>STORAGE</h1>
    <div class="header-content">
        <div>
        <div id class="search-container">
            <form class="search" action="">
                <input name="kereso" placeholder="Keresett tartalom"> 
                <input name="type" type="radio" value="wings">
                <input name="type" type="radio" value="poles">
                <input name="hossz" type="radio" value="2">
                <input name="hossz" type="radio" value="2.5">
                <input name="hossz" type="radio" value="3">
                <input name="hossz" type="radio" value="3.5">
                <input>
                    <select id="select-search" v-model="selectedCategory">
                        <option value="name">Name</option>
                        <option value="number">Number</option>
                        <option value="length">Length</option>
                    </select>
                <input id="search_name" v-if="selectedCategory === 'name'" v-model="inputValue" type="text" placeholder="Search..." style="display: inline">
                <input id="search_number" v-else-if="selectedCategory === 'number'" v-model="inputValue" type="number" placeholder="Search..." style="display: none">
                <select id="search-length" v-else v-model="selectedLength" style="display: none; ">
                    <option value="3">3 meter</option>
                    <option value="3.5">3,5 meter</option>
                    <option value="2.5">2,5 meter</option>
                    <option value="2">2 meter</option>
                </select>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div id="header-img">
        <img class="img" src="/img/free-plus-icon-3107-thumb.png" alt="new-img">
        <a onclick="location.href='home.html'">
            <img class="img" src="/img/avfe23a6b11d1ff4752fd.png" alt="home_img">
        </a>
    <div class="move">
        <img id="move-img" src="/img/1200px-Move_icon.svg.png" alt="move-img">
        <select id="move-select" style="display: none;">
            <option disabled value="">MOVE THE ITEM TO:</option>
            <option value="main">MAIN</option>
            <option value="respect">RESPECT</option>
            <option value="farriers">FARRIERS</option>
        </select>
             </div>
            </div>
         </div>
    </div>
</header>
<body>
<div class="wrapper">
<div id="app">
    <div class="table-container">
        <table class="table wings-table">
            <thead>
            <tr>
                <th colspan="4" style="font-weight: bold">WINGS</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
                <th>Picture</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="wings in this.$data.wings" @click="selectRow($event)">
                <td v-if="this.$data.cookie == 'hu'">{{ wings.name_hu }}</td>
                <td v-else>{{ wings.name_en }}</td>
                <td>{{ wings.db }}</td>
                <td>{{ wings.kep }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container">
        <table class="table poles-table">
            <thead>
            <tr>
                <th colspan="5" style="font-weight: bold">POLES</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
                <th>Length</th>
                <th>Picture</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pole in this.$data.poles" @click="selectRow($event)">
                <td v-if="this.$data.cookie == 'hu'">{{ wings.name_hu }}</td>
                <td v-else>{{ wings.name_en }}</td>
                <td>{{ pole.db }}</td>
                <td>{{ pole.hossz }}</td>
                <td>{{ pole.kep }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="new" style="display: none">
    <div>
        <select class="addRowTo" v-model="selectedOption" @change="toggleForm">
            <option disabled value="">SELECT TO ADD</option>
            <option value="kitoro">WINGS</option>
            <option value="rudak">POLES</option>
        </select>
    </div>
    <div id="formContainer" v-show="showForm">
        <form class="form" @submit.prevent="addRow">
            <label style="text-align: center; font-size: larger; font-weight: bold" for="name">Name:</label> <br>
            <input type="text" style="text-align: center; font-size: larger" id="name" v-model="newRow.name"> <br>
            <label style="text-align: center; font-size: larger; font-weight: bold" for="darabszam">Number:</label> <br>
            <input type="number" style="text-align: center ; font-size: larger;" id="darabszam" v-model="newRow.number" min="1"> <br>
                <div v-if="selectedOption === 'rudak'">
                <label style="text-align: center; font-size: larger; font-weight: bold" for="length">Length:</label> <br>
                <select id="length" style="text-align: center; font-size: large" v-model="newRow.length" @change="">
                    <option value="3.5">3,5 meter</option>
                    <option value="3">3 meter</option>
                    <option value="2.5">2,5 meter</option>
                    <option value="2">2 meter</option>
                </select> <br>
                </div>
            <button class="button-ok" type="submit">ADD</button>
        </form>
      </div>
     </div>
    </div>
   </div>
<script src="/js/raktar.js"></script>
<script src="/js/str.js"></script>
</body>
