<body>
<div v-show="showNew" class="flex flex-col justify-center items-center max-w-screen lg:w-2/5 mx-2 lg:mx-auto my-auto px-2 py-8 bg-white border border-bg-[#e4e4e4] shadow rounded-lg">
    <p class="mb-2 justify-center items-center text-2xl">New Item</p>
    <form>
        <div  class="flex flex-row justify-center items-center mb-2 " >
            <p class="mr-2">Wings</p>
            <input type="radio" value="wings" v-model="selectedOption" name="radio-7" class="radio radio-info mr-3 mb-1" checked="checked" />
            <p>or</p>
            <input type="radio" value="poles" v-model="selectedOption" name="radio-7" class="radio radio-info ml-3" />
            <p class="ml-2">Poles</p>
        </div>
        <div class="flex flex-col justify-center items-center">
            <input type="text" placeholder="EN" class="input input-bordered text-lg w-3/4 w text-center" >
            <input type="text" placeholder="HUN" class="input input-bordered text-lg w-3/4 text-center" />
            <input type="number" placeholder="Number of item" class="input input-bordered w-3/4 text-center text-lg" />
            <select v-if="selectedOption === 'poles'" class="select select-bordered w-3/4 max-w-xs text-lg text-center">
                <option disabled selected>Set the lenght</option>
                <option value="3.5">3,5</option>
                <option value="3">3</option>
                <option value="2.5">2,5</option>
                <option value="2">2</option>
            </select>
            <input type="file" class="file-input file-input-bordered max-w-xs mt-4 w-3/4" />
        </div>
        <button class="button-ok rounded-xl" type="submit">Finish</button>
    </form>
</div>
</body>
</html>